<!DOCTYPE html>
<html>
	<head>
		<link href="css/framework/googlecss.css" rel="stylesheet" type="text/css">
		<link href="css/framework/animate_min.css" rel="stylesheet" type="text/css">
		<link href="css/framework/quasar_rtl_min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/framework/fontawesome.css">
		<link rel="stylesheet" href="css/framework/fontawesome_animation.css">


		<link rel="icon" type="image/ico" href="icons/favicon.ico">
		<link rel="icon" type="image/png" sizes="192x192" href="icons/192x192.png">
		<link rel="icon" type="image/png" sizes="512x512" href="icons/512x512.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">

		<link href="css/style.css" rel="stylesheet"/>
		<script src="js/general/pollyfills.js"></script>
	</head>
	
	<body>
		<script src="js/general/simpletypesutils.js"></script>

		<script src="js/general/logger.js"></script>

		<script src="js/framework/config.js"></script>
		<script src="js/framework/vue.js"></script>
		<script src="js/framework/quasar.js"></script>
		<script src="js/framework/fa_ir_umd_min.js"></script>
		<script src="js/framework/en_us_umd_min.js"></script>
		<script src="js/framework/en_gb_umd_min.js"></script>
		<script src="js/framework/de.js"></script>
		
		<script src="js/framework/script/tokenizeCommand.js"></script>
		<script src="js/framework/script/scriptRunner.js"></script>
		<script src="js/framework/quasar_ie_polyfills_umd_min.js"></script>
		

		<script src="js/i18n/dictionary.js"></script>
		<script src="js/i18n/globals.js"></script>
		<script src="js/i18n/langTitles.js"></script>
		<script src="js/i18n/en_and_fa.js"></script>
		<script src="js/general/i18nService.js"></script>

		<script src="js/control/translate.js"></script>
		<script src="js/control/creator.js"></script>
		<script src="js/control/structureValidators.js"></script>
		
		<script src="js/form/translate.js"></script>
		<script src="js/form/structureValidator.js"></script>
		
		<script src="js/tab/translate.js"></script>
		<script src="js/tab/structureValidator.js"></script>
		
		<script src="js/leftMenu/translate.js"></script>
		<script src="js/leftMenu/structureValidator.js"></script>


		<script src="mockServer.js"></script>
		<script src="js/app/componentSetuper.js"></script>
		<script src="js/app/xhrRequestHandler.js"></script>
		<script src="js/app/newapp.js"></script>
		<script src="js/app/menuClickHandler.js"></script>
		<script src="js/emptyPage.js"></script>

		<div id="app" style="display: none;">
			<y-fatal-error v-if="props.fatalError"></y-fatal-error>
				<y-fullpage-loading v-else-if="props.inProgress && !applicationInfo.inMaintenance"></y-fullpage-loading>
				<template v-else-if="!props.inProgress && !applicationInfo.inMaintenance">
					<q-layout view="lHr LpR fFf">
						<y-page-header
							:left-menu="leftMenu"
							:right-menu="rightMenu"
							:application-info="applicationInfo"
							:tabs-info="tabsInfo"
							:app="$data"
						></y-page-header>
						<y-left-menu
							:app="$data"
							:left-menu="leftMenu"
							:i18n="applicationInfo.i18n"
							@menu-click="leftMenuClicked"
						></y-left-menu>
						<y-right-menu
							:app="$data"
							:right-menu="rightMenu"
							:i18n="applicationInfo.i18n"
						></y-right-menu>
						<q-page-container>
							<q-page class="bg-grey-3 column">
								<div class="q-mt-none">
									<q-tab-panels v-model="tabsInfo.currentTab" animated swipeable vertical transition-prev="jump-up" transition-next="jump-up">
										<q-tab-panel v-for="(tab, index) in tabsInfo.tabs" class="bg-grey-3" :key="tab.id" :name="tab.id">
											<div v-if="tab.inProgress">
												<q-inner-loading :showing="tab.inProgress" class="bg-grey-3">
													<q-spinner-gears size="100px" color="primary"></q-spinner-gears>
												</q-inner-loading>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
											</div>
											<div v-if="!tab.inProgress">
												<div v-for="section in tab.sections" :key="section.id">
													<y-dummy-label
														:json="section.meta"
														:i18n="applicationInfo.i18n"
													></y-dummy-label>
													<div v-if="section.meta.type == 'simpleform'">
														<h3 class="text-h3">{{tr(section.meta.title,applicationInfo.i18n)}}</h3>
														<q-input 
															v-for="ctrl in section.controls"
															v-model="formDATA[''+tab.id+section.id+ctrl.field]"
															:key="ctrl.field"
															:label="ctrl.title"
															counter
															:dense="true"
														></q-input>
													</div>
												</div>
												<q-page-container>
													<q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
														<q-btn fab icon="keyboard_arrow_up" color="primary"></q-btn>
													</q-page-scroller>
												</q-page-container>
											</div>
										</q-tab-panel>
									</q-tab-panels>
								</div>
							</q-page>
						<y-footer
							:app="$data"
							:left-menu="leftMenu"
							:right-menu="rightMenu"
							:i18n="applicationInfo.i18n"
						>
						</y-footer>
					</q-layout>
				</template>
				<y-maintenace-page v-else-if="applicationInfo.inMaintenance">
				</y-maintenace-page>
		</div>

		<div style="display: none;" id="templates">
			<template id="y-page-header-template">
				<q-header reveal bordered height-hint="98">
					<q-toolbar>
						<q-btn
						flat
						dense
						round
						icon="menu"
						aria-label="Menu"
						v-if="leftMenu.length > 0"
						@click="leftDrawerOpen = !leftDrawerOpen"
						>
						</q-btn>
					<q-toolbar-title>
						<q-avatar>
							<img :src="applicationInfo.logoImageURL">
						</q-avatar>
						{{tr(applicationInfo.title, applicationInfo.i18n)}}
						<span class="text-subtitle2">{{tr(applicationInfo.desc, applicationInfo.i18n)}}</span>
					</q-toolbar-title>
					<q-btn v-if="rightMenu.length > 0" dense flat round icon="more_vert" @click="rightDrawerOpen = !rightDrawerOpen" ></q-btn>
					</q-toolbar>
					<q-img
						src="images/titlebg.jpg"
						class="header-image absolute-top"
					></q-img>
					<q-tabs v-model="tabsInfo.currentTab" align="left" inline-label>
						<q-tab
						v-for="(tab , index) in tabsInfo.tabs"
						:key="tab.id"
						:name="tab.id" 
						:icon="tab.icon" 
						:label="tr(tab.title, applicationInfo.i18n)"
						>
						<q-btn v-if="tab.closable" 
						@click.stop="closeTab(tab,index)"
							size="xs"
							flat round color="white"
							icon="close" side></q-btn>
						<q-badge v-for="badge in tab.badges" :key="tab.id" :color="badge.color" floating>{{badge.value}}</q-badge>
						</q-tab>
					</q-tabs>
				</q-header>
			</template>

			<template id="y-left-menu-template">
				<q-drawer 
					v-model="leftDrawerOpen"
					side="left"
					bordered
					:width="250"
					:breakpoint="600">
					<q-scroll-area style="height: calc(100% - 192px); margin-top: 192px; border-right: 1px solid #ddd">
						<q-list bordered>
							<q-expansion-item v-for="group in leftMenu"
							  :key="group.groupName"
							  :group="group.groupName"
							  header-class="text-white bg-primary"
							  expand-icon-class="text-white"
							>
							<template v-slot:header>
								<q-item-section avatar>
								  <q-avatar rounded :icon="group.icon" color="white" text-color="primary"></q-avatar>
								</q-item-section>
					  
								<q-item-section>
								  {{tr(group.title,i18n)}}
								</q-item-section>
							</template>
							<div class="bg-gray-3 text-black">
								<q-list class="q-pl-lg" bordered>
									<q-item v-for="(item,index) in group.items"
										:key="item.id"
										clickable
										v-ripple
										@click="leftMenuItemClicked(group,item,index)"
										exact
										v-ripple
										:active="item.selected"
									>
									<q-item-section avatar>
										<q-icon color="primary" :name="item.icon"></q-icon>
									</q-item-section>
							
									<q-item-section>{{tr(item.title,i18n)}}</q-item-section>
									</q-item>
									<q-separator></q-separator>
									
								</q-list>
							</div>
							</q-expansion-item>
					  
							<q-separator></q-separator>
						  </q-list>
					</q-scroll-area>

					<q-img class="absolute-top"
					src="images/titlebg.jpg"
					style="height: 192px">
					<div :class.sync="app.applicationInfo.i18n.rtl ? 'absolute-bottom-right bg-transparent' : 'absolute-bottom-left bg-transparent'">
						<q-avatar size="56px" class="q-mb-sm">
						<img src="icons/192x192.png">
						</q-avatar>
						<div class="text-weight-bold">{{tr(app.applicationInfo.userId,i18n)}}</div>
						<div>{{tr(app.applicationInfo.userInfo,i18n)}}</div>
					</div>
					</q-img>
				</q-drawer>
			</template>
			
			<template id="y-right-menu-template">
				<q-drawer v-model="rightDrawerOpen" side="right" bordered>
					<q-list>
						<div v-for="(menu, index) in rightMenu" :key="menu.id">
							<q-img
								src="images/titlebg.jpg"
								class="header-image absolute-top"
							></q-img>
							<q-item clickable v-ripple @click="rightMenuClicked(menu,index)">
								<q-item-section class="text-right">{{tr(menu.title,i18n)}}</q-item-section>
							  <q-item-section avatar>
								<q-icon color="primary" :name="menu.icon"></q-icon>
							  </q-item-section>
							</q-item>
							<q-separator></q-separator>
						</div>
					</q-list>
				</q-drawer>
			</template>
			<template id="y-footer-template">
				<q-footer bordered class="primary text-white">
					<q-toolbar>
						<q-btn
							v-if="leftMenu.length > 0"
							flat
							dense
							round
							@click="leftDrawerOpen = !leftDrawerOpen"
							icon="menu"
							aria-label="Menu"
							>
							</q-btn>
						<q-toolbar-title>
							<span class="text-subtitle2">{{tr(app.applicationInfo.copyright,i18n)}}</span>
						</q-toolbar-title>
					<q-btn v-if="rightMenu.length > 0" dense flat round icon="more_vert" @click="rightDrawerOpen = !rightDrawerOpen" ></q-btn>
					</q-toolbar>
				</q-footer>
			</template>

			<template id="y-dummy-label-template">
				<div v-if="json.type == 'label'">
					<p class="text-h2">{{tr(json.title,i18n)}}</p>
				</div>
			</template>

			<!-- Less important -->
			<template id="y-fullpage-loading-template">
				<q-layout animated
						transition-show="bounceInLeft"
						transition-hide="jump-up">
					<div class="absolute-center">
						<template v-if="$q.platform.is.ie" >
							<i class="fas fa-cog fa-small slow-ani" style="color:purple;"></i>
							<br>
							<i class="fas fa-cog fa-med slow-ani" style="color:orange;"></i>
							<i class="fas fa-cog fa-lge slow-ani" style="color:blue;"></i>
						</template>
						<q-spinner
							v-else
							color="primary"
							size="100px"
							:thickness="2"
						></q-spinner>
					</div>
				</q-layout>
			</template>
			<template id="y-fatal-error-template">
				<q-layout>
					<q-tabs
						v-model="tab"
						class="text-red">
						<q-tab 
							v-for="lang in langTitles"
							:key="lang.id"
							:name="lang.id"
							icon="error" 
							:label="lang.title">
						</q-tab>
					</q-tabs>
					<q-splitter
					v-model="splitterModel"
					style="height: 250px"
					>

					<template v-slot:before>
						<q-tabs
						v-model="tab"
						vertical
						class="text-red"
						>
							<q-tab 
								v-for="lang in langTitles"
								:key="lang.id"
								:name="lang.id"
								icon="error" 
								:label="lang.title">
							</q-tab>
						</q-tabs>
					</template>

					<template v-slot:after>
						<q-tab-panels
						v-model="tab"
						animated
						swipeable
						vertical
						transition-prev="jump-up"
						transition-next="jump-up"
						>
						<q-tab-panel v-for="lang in langTitles" :key="lang.id" :name="lang.id">
							<div class="text-h4 q-mb-md">{{tr("FATAL ERROR",{lang:lang.id,translate:true})}}</div>
							<p>{{tr("UNEXPECTED ERROR OCCURED",{lang:lang.id,translate:true})}}</p>
							<p>{{tr("CONTACT WITH SUPPORT",{lang:lang.id,translate:true})}}</p>
						</q-tab-panel>
						</q-tab-panels>
					</template>

					</q-splitter>
				</q-layout>
			</template>
			<template id="y-maintenace-page-template">
				<q-layout>
					<div class="absolute-center">
						<q-icon name="fas fa-wrench faa-wrench animated" class="text-orange" style="font-size: 4rem;"></q-icon>
						<q-icon name="fas fa-server" class="text-blue" style="font-size: 4rem;"></q-icon>
					</div>
					<q-splitter
					v-model="splitterModel"
					style="height: 250px"
					>

					<template v-slot:before>
						<q-tabs
						v-model="tab"
						vertical
						class="text-green"
						>
							<q-tab 
								v-for="lang in langTitles"
								:key="lang.id"
								:name="lang.id"
								icon="error" 
								:label="lang.title">
							</q-tab>
						</q-tabs>
					</template>

					<template v-slot:after>
						<q-tab-panels
						v-model="tab"
						animated
						swipeable
						vertical
						transition-prev="jump-up"
						transition-next="jump-up"
						>
						<q-tab-panel v-for="lang in langTitles" :key="lang.id" :name="lang.id">
							<div class="text-h4 q-mb-md">{{tr("MAINTENANCE MODE",{lang:lang.id,translate:true})}}</div>
						</q-tab-panel>
						</q-tab-panels>
					</template>

					</q-splitter>
				</q-layout>
			</template>
		</div>
</body>
</html>